*.pyc
*.crc
app/logs/*.log
app/Notebooks/**/*
!app/Notebooks/**/*.txt
!app/Notebooks/**/*.Rmd
!app/Notebooks/**/*.ipynb
!app/Notebooks/**/*.md
EIAElec/*.json
EIATotal/*.json
WeatherCSV/*.csv
tmp/*
!tmp/*.py
app/Notebooks/.ipynb_checkpoints/*
.Rproj.user
*.Rhistory
