*.pyc
*.crc
*.log
app/Notebooks/metastore_db/*
app/Notebooks/logs/*
!app/Notebooks/logs/*.txt
EIAElec/*.json
EIATotal/*.json
WeatherCSV/*.csv
tmp/*
!tmp/*.py
app/Notebooks/.ipynb_checkpoints/*
.Rproj.user
*.Rhistory
